<div class="block_quadraticcalc" id="quadraticcalc">
    {{{form}}}

    {{#solution}}
        <div class="solution">
            <strong>{{#str}}solution, block_quadraticcalc{{/str}}</strong> {{solution}}
        </div>
    {{/solution}}
</div>